<ng-container *ngIf="!isAlarmClockListLoading; else contacts_loading">

  <mat-list
        infiniteScroll
        [scrollWindow]="false"
		    [infiniteScrollDistance]="2"
		    [infiniteScrollThrottle]="50"
		    (scrolled)="onScroll()">

    <ng-container *ngFor="let clock of alarmClocks; let i = index;let last = last">

      <div class="list-item-wrap" [class.remove-mode]="isAlarmInRemoveMode(clock)">

        <mat-list-item (click)="isAlarmEditMode ? goToEditAlarmClockPage(clock): ''; "
                       (touchstart)="swipe($event, 'start', clock)"
                       (touchend)="swipe($event, 'end', clock)"
                       [ngClass]="{'edit-mode':isAlarmEditMode ,
                     'disabled':clock.disable, 'remove-mode':isAlarmInRemoveMode(clock)}">

          <div class="remove-button-wrap" *ngIf="isAlarmEditMode">
            <button mat-icon-button (click)="showRemoveButton($event, clock)">
              <mat-icon aria-label="Edit mode">remove_circle</mat-icon>
            </button>
          </div>

          <h4 class="time" mat-line>{{ clock.time | date: 'HH:mm'}}</h4>
          <p class="description" mat-line> {{ clock.name }},

            <ng-container *ngIf="clock.daysOfWeek.length">

              <ng-container *ngFor="let day of clock.daysOfWeek">
                <span style="text-transform: capitalize;">
                  {{ day | slice:7:9 }}
                </span>
              </ng-container>

            </ng-container>

            <ng-container *ngIf="!clock.daysOfWeek.length">
              Никогда
            </ng-container>

          </p>

          <div class="action-icons">

            <mat-slide-toggle *ngIf="!isAlarmEditMode"
                              [checked]="!clock.disable"
                              (change)="toggleAlarmState(clock)">
            </mat-slide-toggle>

            <button mat-icon-button *ngIf="isAlarmEditMode" (click)="goToEditAlarmClockPage(clock)">
              <mat-icon aria-label="Go to alarm time edit">keyboard_arrow_right</mat-icon>
            </button>

          </div>

          <mat-divider></mat-divider>

        </mat-list-item>

        <div class="remove-button" *ngIf="isAlarmInRemoveMode(clock)"
             (click)="removeAlarmClockFormList(clock)">
          <p>Удалить</p>
        </div>
      </div>

    </ng-container>

  </mat-list>

</ng-container>

<div *ngIf="!isAlarmClockListLoading && !alarmClocks.length">
  <p class="no-alarms-text">Нет будильников</p>
</div>

<ng-template #contacts_loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
